@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Dark-blue: #202733;
  --Dark-Grayish-Blue: #313a48;
  --Neon-green: #53ffaa;
  --Graysh-blue: #4f5d74;
  --Light-cyan: #cee3e9;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--Dark-blue);
  font-family:"Manrope", sans-serif;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
  width: min(90%, 540px);
  height: 332px;
  border-radius: 15px 0px 0px 0px;
  background-color: var(--Dark-Grayish-Blue);
}
.placeholder{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  width: 80%;
  color:var(--Neon-green);
  margin:0 auto;
}
.text{
  font-size: 28px;
  color: var(--Light-cyan);
}
.divider{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5%;
  margin-left: 10%;
  width: 90%;
  height: 10%;
  background-image: url('/assets/pattern-divider-desktop.svg');
  background-repeat: no-repeat;
}
.dice-symbol {
  position: absolute;
  top:90%;
  left: 45%;
  cursor: pointer;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--Neon-green);
  display: flex;
  justify-content: center;
  align-items: center; 
}
.dice-symbol:hover{
  box-shadow: 0px 0px 40px var(--Neon-green);
}
.dice-symbol i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.quotes{
  font-weight: bold;
  font-size: 32px;
  color: var(--Light-cyan);
}
@media only screen and (max-width: 600px) {
  .container{
    height: 70%;
  }
  .placeholder{
    width: 50%;
  }
  .divider{
    background-image: url('/assets/pattern-divider-mobile.svg');
  }
  .dice-symbol {
    position: absolute;
    left: 40%;
    top:95%;
    border-radius: 50%;
    width: 64px;
    height: 64px;
  }
}